<!-- <ng-container *ngIf="!isLogin(); else elseTemplate">
  <div class="wrapper">
    <div class="main-panel">
      <app-login></app-login>
      <router-outlet></router-outlet>
    </div>
</div>
</ng-container>
<ng-template #elseTemplate> -->
  <div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
    </div>

  <div class="main-panel">
    <!-- <div *ngIf="isLogin()"> -->
      <navbar-cmp></navbar-cmp>
    <!-- </div> -->
      <router-outlet></router-outlet>
      <!-- <app-product-list *ngIf='(viewPage == "poductList")' (pointToViewElement) = "setViewElement($event)"></app-product-list> -->
        <!-- <app-product-add-edit></app-product-add-edit> -->
      <div *ngIf="isMap('maps')">
          <footer-cmp></footer-cmp>
      </div>
  </div>

</div>
<!-- </ng-template> -->
