// label{
//     color : #66665e;
// }

// input,select{
//     margin-bottom : 15px;
// }

.row{
    margin-bottom : 15px;
}

::placeholder {
    color: #66665e;
    // font-size: 1.5em;
  }

  .mat-form-field {
    // margin: 40px 0;
    width: 100% !important;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.mat-toolbar-single-row button {
    width: 200px;
}
.mat-form-field {
    width: 100%;
}
#uploadImageFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

#uploadLogoFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.image-txt{
    font-size: 15px;
    color: grey;
}

.hi{
    width:50px;
    height:50px;
    background:black;
    margin:10px; color:white;
    padding:20px;
  }

