<div id="form">
    <div class="container">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
        <div id="userform">
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <!-- <li><a href="#signup"  role="tab" data-toggle="tab">Sign up</a></li> -->
            <li class="active"><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>
          </ul>
          <div class="tab-content">
            <!-- <div class="tab-pane fade in" id="signup">
              <h2 class="text-uppercase text-center"> Sign Up for Free</h2>
              <form id="signupform">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label>First Name<span class="req">*</span> </label>
                      <input type="text" class="form-control" id="first_name" required data-validation-required-message="Please enter your name." autocomplete="off">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <label> Last Name<span class="req">*</span> </label>
                      <input type="text" class="form-control" id="last_name" required data-validation-required-message="Please enter your name." autocomplete="off">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label> Your Email<span class="req">*</span> </label>
                  <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <label> Your Phone<span class="req">*</span> </label>
                  <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number." autocomplete="off">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <label> Password<span class="req">*</span> </label>
                  <input type="password" class="form-control" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="mrgn-30-top">
                  <button type="submit" class="btn btn-larger btn-block">
                  Sign up
                  </button>
                </div>
              </form>
            </div> -->
            <div class="tab-pane fade active in" id="login">
              <h5 class="text-danger text-center" *ngIf="errorMessage">Entered invalid credential</h5>
              <!-- <h2 class="text-uppercase text-center"> Log in</h2> -->
              <form [formGroup]="loginFormGroup">
                <div class="form-group">
                  <!-- <label> Your Email<span class="text-danger">*</span> </label> -->
                  <mat-label> Your Email<span class="text-danger">*</span> </mat-label>
                  <input type="email" class="form-control" id="email" autocomplete="off" formControlName="loginEmail" [ngClass]="{'is-invalid' : loginFormSubmitted && f.loginEmail.errors}" required>
                  <p class="help-block text-danger" *ngIf="(loginFormSubmitted && f.loginEmail.errors?.required)">Please enter email</p>
                  <p class="help-block text-danger" *ngIf="(loginFormSubmitted && f.loginEmail.errors?.email)">Please enter valid email</p>
                </div>
                <div class="form-group">
                  <!-- <label> Password<span class="text-danger">*</span> </label> -->
                  <mat-label> Password<span class="text-danger">*</span> </mat-label>
                  <input type="password" class="form-control" id="password" autocomplete="off" formControlName="loginPass" [ngClass]="{'is-invalid' : loginFormSubmitted && f.loginEmail.errors}" required>
                  <p class="help-block text-danger" *ngIf="(loginFormSubmitted && f.loginPass.errors)">Please enter password</p>
                </div>
              </form>
                <div class="mrgn-30-top">
                  <button type="button" class="btn btn-larger btn-block" (click)="doLogin()">
                  Log in
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>