table {
  width: 100%;
}

.table-header-design{
  // background: #ee9ca7;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #89ade4;
  background: #ffdde1;
  color: black !important;
  font-size: large !important;
}

.mat-column-sze{
  width: 10% !important;
}

.mat-shop-name{
  width: 20% !important;
}

.mat-shop-address{
  width: 20% !important;
}

.mat-shop-mobile{
  width: 20% !important;
}

.mat-shop-backimage{
  width: 15% !important;
}

.mat-shop-logimag{
  width: 15% !important;
}

.mat-shop-action{
  width: 10% !important;
}