table {
    width: 100%;
  }

  .table-header-design{
    // background: #ee9ca7;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: #89ade4;
    background: #ffdde1;
    color: black !important;
    font-size: large !important;
  }

  .top-row{
    padding: 15px;
  }

  .form-control{
    background-color: cornsilk;
    border: 1px solid black;
    color: black;
  }

  .search-prod{
    position: absolute;
    width: 93%;
    z-index: 99;
    cursor: pointer;
  }